body{
    margin:0px;
    padding:0px;
}
.navbar-brand img{
    height:40px;
    width:40px;
    margin:0px;
}
#home{
    margin:0px;
    background-image: linear-gradient(
      115deg,
      rgba(256, 256, 256, 0.8),
      rgba(136, 136, 206, 0.7)
    ), url("img/banner.png");
    background-size: cover;
    position: relative;
    background-position: center;
    min-height: 550px;
    min-width: 500px;
    background-repeat: no-repeat;
    text-align:center;
}
#home input{
    border:solid 2px white;
    padding:10px 40px;
    border-radius: 5px;
    background:rgba(256, 256, 256, 0.6);
    margin-top:30px;
    font-size:20px;
}
#home input:hover{
    background-color:black;
    color:white;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
#home h1{
    font-size:55px;
    position:relative;
    padding-top:200px;
}
#home p{
    font-size:25px;
}
@media (max-width:600px){
    #home{
        margin:0px;
        background-image: linear-gradient(
      115deg,
      rgba(256, 256, 256, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(img/banner1.png);
        background-size: cover;
        position: relative;
        background-position: center;
        min-height: 550px;
        min-width: auto;
        background-repeat: no-repeat;
        text-align:center;
    }
    #home input{
        margin-bottom:60px;
    }
    #home h1{
        padding-top:100px;
    }
    #about{
        margin:0px;
        padding:20px auto;
        background-image: url("img/join.jpg");
        background-size: cover;
        position: relative;
        background-position: center;
        min-height: auto;
        min-width: auto;
        max-width:auto;
    }
    #testimonials img{
        transform:scale(0.7);
    }
}


#about{
    margin:0px;
    padding:20px auto;
    background-image: url("img/join.jpg");
    background-size: cover;
    position: relative;
    background-position: center;
    min-height: 550px;
    min-width: auto;
    background-repeat: no-repeat;
    text-align:center;
}
.common{
    margin:20px 0px;
    background: rgba(16, 147, 127, 0.4);
    color:white;
    padding:10px;
    width:auto;
}
.common:hover{
    background: rgba(256, 256, 256, 0.8);
    color:black;
    transition: background-color 0.5s ease-out, color 1s ease-out;
}

#courses{
    margin:0px;
    padding:20px 10px;
    padding:20px auto;
    background: linear-gradient(
      115deg,
      rgba(3, 7, 30, 0.8),
      rgba(55, 6, 23, 0.7), 
      rgba(106, 4, 15, 0.8),
      rgba(157, 2, 8, 0.7),
      rgba(208, 0, 0, 0.8),
      rgba(220, 47, 2, 0.7), 
      rgba(232, 93, 4, 0.8),
      rgba(224, 140, 6, 0.7),
      rgba(250, 163, 7, 0.8),
      rgba(225, 186, 8, 0.7)
    );
    background-size: cover;
    position: relative;
    text-align:center;
}
#courses .card{
    margin:10px 0px;
    box-shadow:0px 5px 5px 0px black;
}
#courses .card:hover{
    box-shadow:0px 15px 15px 0px black;
}
#courses h1{
    font-size:40px;
}
/*
#testimonials{
    background: linear-gradient(
      115deg,
      rgba(128, 255, 219, 0.8),
      rgba(100, 223, 223, 0.7), 
      rgba(86, 207, 225),
      rgba(72, 191, 227),
      rgba(78, 168, 222),
      rgba(83, 144, 217), 
      rgba(94, 96, 206),
      rgba(105, 48, 195),
      rgba(116, 0, 184)
    );
}*/
#testimonials p{
    background: rgba(256, 256, 256, 0.3);
    padding:20px;
}
#join{
    background-image: url("img/testimonials.png");
    background-size: cover;
    text-align:center;
    padding:20px;
}
.join input,textarea{
    border-radius:10px;
    padding:5px;
}

footer{
    background-color:black;
}
#contact i{
    font-size:30px;
    padding:5px;
    margin:10px;
}
.fa-github {
  background: black;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #ea4c89;
  color: white;
}