body{
    margin:0px;
    list-style:none;
}
#myTopnav{
    color:white;
}
.topnav li{
    font-size:30px;
    float:right;
}
.topnav li:hover{
    font-size:35px;
    text-decoration:underline;
    background-color:#ff0f77;
}
.topnav ul{
}
.navbar-brand{
    padding:20px;
}
.navbar-brand p{
    padding:0px;
    margin:0px;
}

#about{
    background-image: url('images/i1.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: fixed;
}
.logo p{
    margin-top:-70px;
    font-family: 'Rouge Script',cursive; 
    font-size:80px; 
    text-align:center;
}
.logo h1{
    font-family: 'Sacramento', cursive;
    font-size:180px; 
    text-align:center;
}
.about{
    font-size:29px;
    text-align:center;
    margin:5px auto;
}
.about p{
    background: rgba(256,256,256,0.5);
    padding:25px;
    font-family: 'Dancing Script', cursive;
}
.main{
    background: rgba(256,256,256,0.4);
    padding-bottom:30px;
}

@media screen and (max-width: 1000px) {
    .logo h1{
        font-size:80;
    }
    .logo p{
        margin-top:-30px;
        font-size:60;
    }
    .about p{
        font-size:20px;
        background: rgba(256,256,256,0.5);
        padding-bottom:15px;
    }
}

#flavours{
    position:relative;
    background-image: url('images/i3.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center; 
}
.flavours{
    background: rgba(256,256,256,0.7);
}
#flavours li{
    font-size:30px;
    font-family: 'Sacramento',cursive; 
}
#flavours h1{
    font-size:80px;
    font-weight:80px;
    font-family: 'Rouge Script',cursive; 
    padding:10px 10px 0px 10px;
}
#flavours h1:hover{
    text-decoration:underline;
}
.flavours ul{
    text-align:center;
    padding:0px 20px;
    list-style:none;
}
#contact{
    position:relative;
    background-image: url('images/i3.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center; 
}
.contact{
    background: rgba(256,256,256,0.5);
}
textarea{
    padding:20px;
    border-radius:20px;
}
input{
    border-radius:5px;
}
#contact h1{
    background: rgba(256,256,256,0.6);
    font-size:80px;
    font-weight:80px;
    font-family: 'Rouge Script',cursive; 
    padding:10px 10px 0px 10px;
}
#contact h1:hover{
    text-decoration:underline;
}
#contact h3{
    font-size:30px;
    font-family: 'pacifico',cursive; 
}
#contact label{
    font-size:20px;
    font-family: 'pacifico',cursive; 
}

#contact p{
    font-family: 'Dancing Script', cursive;
    margin:0px;
}

footer{
    color:white;
    background-color:black;
    margin:0px;
}
.fa {
  font-size:30px;
  padding:10px;
  margin:10px;
}
#footer p{
    color:white;
    margin:0px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}