.content{
  text-align: center;
  margin-right: 30%;
  margin-left: 35%;
  margin-top: 25%;
  color: white;

}

.green{

  color: green;
}

body{
  background-image: url("play.jpg");
  background-size: cover;

}

html{

  height: 100%;
}
