@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    background-color: #292c34;
}

header{
    background: white;
    padding: 20px;
}

header > h1{
    color: #24272e;
    text-align: center;
    font-family: Asap, sans-serif;
}

.score-board{
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family: Asap, sans-serif;
    position: relative;
}

.badge{
    background: #e25840;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Asap, sans-serif;
}

#user-label {
     position: absolute;
     top: 30px;
     left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

.result{
    font-size: 40px;
    color: white;
    margin-bottom: 40px;
}

.result > p{
    text-align: center;
    font-weight: bold;
    font-family: Asap, sans-serif;
}

.choices{
    margin-top: 50px 0;
    text-align: center;
}

img{
    width: 129px;
    height: 91px;
}

.choice{
    
    display: inline-block;
    
    overflow: hidden;
    
    border: 4px solid white;
    border-radius: 50%;
    margin: 0 20px;
    padding: 20px;
    display: inline-block;
    transition: all 0.3s ease;
    
}

.choice:hover{
    cursor: pointer;
    background: #24272e;
}

#action-message{
    text-align: center;
    color: white;
    font-family: Asap, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.green-glow {
    border: 4px solid #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
}

.red-glow {
    border: 4px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
}

.gray-glow {
    border: 4px solid #464647;
    box-shadow: 0 0 10px #25292b;
}

