body {
  background-image: url("audi.jpg");
}

.key {
  height: 100px;
  display: inline-block;
  border: 4px solid grey;
  border-radius: 6px;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1 rem;
  transition: all 0.07s;
  width: 100px;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 5px black;
}

.playing {
  transform: scale(1.5);
  border-color: yellow;
  box-shadow: 0 0 10px yellow;
}

kbd {
  display: block;
  font-size: 40px;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: yellow;
}
