/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

body{
    background-color: black;
    overflow-x: hidden;
}
/* Navigation bar  (sticky bnana h) */
.navbar {
    background-color: rgb(68, 63, 63);
    overflow: hidden;
    top: 0;
    left: 0;
    position: sticky;
    padding-top: 1%;
}

.navbar ul {
    float: right;
    width: 40%;
}

.navbar li {
    display: inline-block;
    list-style: none;
    margin: 2% 2%;
}

.navbar li a {
    padding: 6px 5px;
    text-decoration: none;
    color: rgb(231, 226, 226);
    border-radius: 12px;
    border: black;
}

.navbar li a:hover {
    color: white;
}

#Logo {
    display: inline-block;
    width: 32%;
    font-size: 1.5rem;
}

#Logo a{
    text-decoration: none;
    color: rgb(244, 245, 245);
    padding: 16px 23px;
    margin-left: 8%;
}

/* Home Done */
#Home{
    background-color: black;
    width: 100%;
    height: 80vh;
    padding: 5%;
}

#Home img{
    float: right;
    height: 22%;
    width: 22%;
    border-radius: 50%;
    margin-right: 10%;
}

#content{
    width: 50%;
    text-align: center;
    margin: 66px 3px 2px 60px;
}

#content p{
    color: white;
    line-height: 2rem;
    margin: 1% auto;
    width: 80%;
    padding: 3%;
    font-size: 1.2rem;
}

#content h1{
    color: white;
    font-size: 6rem;
}

/* About */
#About{
    background: #2b2b2b;
    overflow: auto; 
}

#About h2,h3{
    color: #fff;
    margin-bottom: 1%;
}

.about{
    width: 50%;
    color: #797878;
    margin: 1% 0% 1% 8%;
    line-height: 2rem;
    border: 8px solid #38b2b5;
    padding: 1% 2%;
}

/* Skills */
#skills{
    background-color: rgb(244, 245, 245);
    overflow: auto;
    padding: 4.8% 2%;
}

#skills ul{
    width: 45%;
    float: right;
    list-style: none;
    padding: 1% 3%;
}

.Skills{
    line-height: 1.7rem;
    align-items: left;
    font-size: 1.3rem;
    padding-bottom: 1%;
    margin-bottom: 2%;
}

#skills li:hover{
    background-color: rgba(20, 138, 138, 0.041);
}

#skills h1{
    font-size: 4rem;
    text-underline-position: below;
    display: inline-block;
    width: 13%;
    margin: 2% 0% 0% 6%;
}

.Skills img{
    width: 4%;
    height: 4%;
    padding: 1% 2% 0%;
}


progress{
    width: 20rem;
    height: 1.5rem;
}

/* Projects */
#projects{
    padding: 3% 2%;
    /* overflow: auto; */
    background: #cbd6d2;
}

#projects div{
    box-shadow: 0 4px 8px 0 rgb(68, 63, 63), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 40%;
    height: 69vh;
    display: inline-block;
    /* overflow: hidden; */
    margin: 2% 4%;
    justify-items: center;
}

#projects h2{
    width: 13%;
    display: inline-block;
    margin: 0% 3% 0% 41%;
    font-size: 3.5rem;
}

#projects div h3{
    display: inline-block;
    margin-left: 22%;
    color: #1830a9d9;
    margin: auto 16%;
    font-size: 1.9rem;
}

#projects img{
    width: 100%;
    height: 60%;
}  

#projects a{
    text-decoration: none;
    font-size: 1.8rem;
    /* overflow: auto; */
}

#projects p{
    padding: 4px 22px;
    text-align: center;
    margin: 4%;
}

/* Contact Section */
#contact{
    padding: 1% 15%;
    height: 10%;
    background-color: #797878;
}

#contact img{
    width: 3%;
    height: 8%;
    margin: 1% 6% 0%;
    opacity: 0.8;
}

#contact img:hover{
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(17, 17, 17, 0.2), 0 6px 20px 0 rgba(17, 17, 17, 0.2);
}

#copyright{
    color: rgb(231, 226, 226);
    padding: 2% 1% 0% 1%;
    margin-left: 29%;
}