/* CSS Reset */

*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Tamma 2', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Navigation Bar */ /*Done*/
#navbar{
    background-color: rgb(0 27 71);
    overflow: auto;
    top: 0px;
    position: sticky;
}

/* Navigation Bar : Logo*/ 
#logo{
    display: inline-block;
    margin-left:107px;
}

#logo a{
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
}

#navbar ul{
    float: right;
    margin-right: 8%;
    justify-items: center;
}

#navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 8px 12px;
}

#navbar ul li a{
    text-decoration: none;
    color: rgb(180, 212, 238);
    font-size: 1.6rem;
}

#navbar a:hover{
    color: white;
}

/* Home Section */ /*Done*/
#home {
    height: 600px;
    padding: 2%;
    background: url('Images/bg1.jpg') no-repeat top center/cover;
    color: white;
}

#home h1{
    padding: 6% 3% 0%;
    width: 700px;
    margin: 2px auto;
    font-size: 8rem;
    font-family: 'Marck Script', cursive;
}

#home p{
    width: 46em;
    text-align: center;
    padding: 3% 20px;
    margin: 11px auto;
    font-size: 1.3rem;
}

/* About Section */ /*Done*/
#about{
    background: #2b2b2b;
    padding-top: 7%;
    overflow: auto;
}

#about h2,h3{
    color: #fff;;
}

.About{
    float: right;
    width: 50%;
    color: #797878;
    margin: 6px 23px;
    font-size: 1rem;
    padding: 2px 10px;
    line-height: 2rem;
}

#about div{
    padding: 4px;
}


#image{
    float: left;
    overflow: auto;
    display: inline-block;
    margin: 2px 5%;
    width: 30%;
    height: 10%;
    padding: 5%;
}

#image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* Skills Section */ /*Done*/
#skills{
    padding: 5% 4%;
    overflow: auto;
}

#skills ul{
    width: 60%;
    float: right;
    list-style: none;
}

#skills ul li progress{
    width: 50%;
}

#skills ul li:hover{
    background-color: whitesmoke;
}

.Skills{
    font-size: 1.6rem;
}

.Skills img{
    padding: 3% 2% 0%;
    width: 3%;
    height: 3%;
}

/* Projects Section */
#projects{
    padding: 5% 4%;
}

#projects div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 40%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    margin: 2% 4%;
    justify-items: center;
}

#projects div h3{
    display: inline-block;
    margin-left: 22%;
    color: #0f9095;
}

#projects img{
    width: 100%;
    height: 60%;
}  

#projects a{
    text-decoration: none;
    font-size: 1.8rem;
    overflow: auto;
}

#projects p{
    padding: 4px 23px;
    text-align: center;
}

/* Contact Section */
#contact{
    padding: 0% 15%;
    height: 10%;
    background-color: rgb(166, 180, 194);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

#contact img{
    width: 3%;
    height: 3%;
    margin: 1% 6% 0%;
    opacity: 0.7;
}

#contact img:hover{
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Utility Classes */
.heading{
    display: inline-block;
    border-bottom: 4px solid skyblue;
    width: auto;
    margin: 3px 23px;
    font-size: 40px;
}