.content{

  text-align:center;
  margin-right:  30%;
  margin-left: 30%;
  margin-top: 20%;
  color:white;
}

.green{
  color:green;
}

body{
  background-image: url("footbl.jpg");
  background-size: cover;


}

html{

  height: 100%;
}
